.toggleTracks {
  position: fixed;
  bottom: 24px;
  left: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  pointer-events: all;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.searchContainer
{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
  z-index: 2;
  pointer-events: all;

  &.hidden {
    display: none;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
  }

  &.visible {
    opacity: 1;
    transition: all 0.5s;
    pointer-events: all;
    transform: translateY(-50%);
    transition-delay: 0.5s; 
  }
}

.controls {
  position: absolute;
  bottom: 5%;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  pointer-events: none; 

  button,
  input {
    pointer-events: auto;
  }
}

.searchInput {
  background-color: transparent;
  border: none;
  border-bottom: solid 2px white;
  color: white;
  padding: 8px 12px;
  font-size: 18px;
  width: 250px;
  text-align: center;
}

.prevButton,
.nextButton,
.randomButton,
.repeatButton,
.favoritesButton,
.sortSelect {
  background: #333;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.sortSelect{
  margin-right: 15px;
}

.prevButton:hover,
.nextButton:hover,
.randomButton:hover,
.repeatButton:hover,
.favoritesButton:hover {
  background: #555;
}

.randomButton.active,
.repeatButton.active,
.favoritesButton.active {
  border-color: green;
}


.volumeSlider {
  -webkit-appearance: none;
  width: 150px;
  height: 6px;
  background: black;
  border: 2px solid white;
  border-radius: 4px;
  margin: 1rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: 2px solid black;
  }

  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: 2px solid black;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
width: 100%;
  height: 100vh;
  background-color: rgba(black, 0);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: all 0.5s;

  &_visible {
    background-color: rgba(black, 0.8);
    pointer-events: all;
    opacity: 1;
  }

  .tracks {
    width: 75%;
    margin: auto;
    margin-top: 10vh;
    max-height: 75vh;
    overflow-y: auto;

    .header {
      display: flex;
      color: gray;
      border-bottom: solid 1px gray;
      padding-bottom: 10px;
      margin-bottom: 10px;
      padding-left: 10px;

      .order {
        width: 10%;
      }

      .title {
        width: 50%;
      }

      .duration {
        width: 20%;
      }
    }
  }
}


.sortControls {
  display: flex;
  align-items: center;
  gap: 1rem;
}



