.landing {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s;

  .wrapper {
    transition: all 0.5s cubic-bezier(0.54, 0.21, 0.11, 1.03);
  }

  .title {
    font-size: 4rem;
  }

  p {
    margin: 0;
    margin-bottom: 24px;
    max-width: 650px;
  }
}

.landingHidden {
  background-color: rgba(black, 0);
  pointer-events: none;

  .wrapper {
    transform: translateY(100px);
    opacity: 0;
  }
}
