.track {
  display: flex;
  align-items: center;
  color: white;
  //   margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 10px;
  border-radius: 8px;

  &:hover {
    background-color: rgba(white, 0.1);
  }

  .order {
    width: 10%;
  }

  .title {
    width: 50%;
    display: flex;
    gap: 12px;

    .cover {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 4px;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .trackName {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 300px;
      }

      .artistName {
        font-size: 0.8rem;
        color: gray;
      }
    }
  }
}
